In [102]:
url='https://raw.githubusercontent.com/krishnaik06/Complete-Feature-Engineering/master/mercedesbenz.csv'

In [103]:
nd=pd.read_csv(url, usecols=['X1','X2','X3','X4','X5','X6'])
nd.head(10)

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d
5  b   e  c  d  g  h
6  r   e  f  d  f  h
7  l  as  f  d  f  j
8  s  as  e  d  f  i
9  b  aq  c  d  f  a

In [104]:
for i in nd.columns:
    print('Column',i,'has',len(nd[i].unique()), 'unique values')

Column X1 has 27 unique values
Column X2 has 44 unique values
Column X3 has 7 unique values
Column X4 has 4 unique values
Column X5 has 29 unique values
Column X6 has 12 unique values

In [126]:
top_10=(nd['X2'].value_counts().sort_values(ascending=False).head(10)).keys()

In [127]:
 for i in (nd['X2'].value_counts().sort_values(ascending=False).head(10)).keys(),(nd['X2'].value_counts().sort_values(ascending=False).head(10).values):
        print(i)

Index(['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e'], dtype='object')
[1659  496  415  367  265  153  137   94   87   81]

In [128]:
for iv in top_10:
    nd[iv]=np.where(nd['X2']==iv,1,0)

In [143]:
i=nd['X2']
v=nd[top_10]

In [147]:
t_10=pd.concat([i,v], axis=1)

In [148]:
t_10

      X2  as  ae  ai  m  ak  r  n  s  f  e
0     at   0   0   0  0   0  0  0  0  0  0
1     av   0   0   0  0   0  0  0  0  0  0
2      n   0   0   0  0   0  0  1  0  0  0
3      n   0   0   0  0   0  0  1  0  0  0
4      n   0   0   0  0   0  0  1  0  0  0
...   ..  ..  ..  .. ..  .. .. .. .. .. ..
4204  as   1   0   0  0   0  0  0  0  0  0
4205   t   0   0   0  0   0  0  0  0  0  0
4206   r   0   0   0  0   0  1  0  0  0  0
4207   e   0   0   0  0   0  0  0  0  0  1
4208  ae   0   1   0  0   0  0  0  0  0  0

[4209 rows x 11 columns]

# Ordinal Category Encoding:

### Ordinal category encoding means to assign the ranks to different categories present inside a feature based on some mapping criteria. Also, the distances between the categories are also unknown

In [341]:
import datetime
from datetime import date
Curr_day_name=date.today().strftime('%A')
print('Weekday is :',datetime.datetime.today().weekday())
print('Day Name is:',Curr_day_name)
print('Day is :',datetime.datetime.today().day)
print('Month is :',datetime.datetime.today().month)
print('Year is :',datetime.datetime.today().year)

Weekday is : 2
Day Name is: Wednesday
Day is : 20
Month is : 1
Year is : 2021

# datetime.date.today()

In [303]:
curr_date=datetime.date.today()
print('Current date is {}'.format(curr_date))

Current date is 2021-01-20

# datetime.datetime.now().time()

In [304]:
print('Current time is {}'.format(datetime.datetime.now().time()))

Current time is 01:34:02.006537

# For finding previous/Next dates -> curr_date+datetime.timedelta(days=i)

In [346]:
l=[]
w=[]
dn=[]
days=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
for i in range(20):
    td=curr_date+datetime.timedelta(days=i)
    wkd=td.weekday()
    day=days[wkd]
    l.append(td)
    w.append(day)
    dn.append(wkd)
l
w
dn

[2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0]

In [329]:
nd=pd.DataFrame(l)
nd.columns=['Date']
nd

          Date
0   2021-01-20
1   2021-01-21
2   2021-01-22
3   2021-01-23
4   2021-01-24
5   2021-01-25
6   2021-01-26
7   2021-01-27
8   2021-01-28
9   2021-01-29
10  2021-01-30
11  2021-01-31
12  2021-02-01
13  2021-02-02
14  2021-02-03
15  2021-02-04
16  2021-02-05
17  2021-02-06
18  2021-02-07
19  2021-02-08

In [320]:
curr_day=datetime.datetime.today().strftime('%A')
curr_day

'Wednesday'

In [338]:
nd['Day']=pd.DataFrame(w)

In [342]:
nd

          Date        Day
0   2021-01-20  Wednesday
1   2021-01-21   Thursday
2   2021-01-22     Friday
3   2021-01-23   Saturday
4   2021-01-24     Sunday
5   2021-01-25     Monday
6   2021-01-26    Tuesday
7   2021-01-27  Wednesday
8   2021-01-28   Thursday
9   2021-01-29     Friday
10  2021-01-30   Saturday
11  2021-01-31     Sunday
12  2021-02-01     Monday
13  2021-02-02    Tuesday
14  2021-02-03  Wednesday
15  2021-02-04   Thursday
16  2021-02-05     Friday
17  2021-02-06   Saturday
18  2021-02-07     Sunday
19  2021-02-08     Monday

In [343]:
weekday_map={ 'Monday':1,
              'Tuesday':2,
             'Wednesday':3,
             'Thursday':4,
             'Friday':5,
             'Saturday':6,
             'Sunday':7
}

In [344]:
nd['Ordinal Rank for Day']=nd['Day'].map(weekday_map)

In [345]:
nd

          Date        Day  Ordinal Rank for Day
0   2021-01-20  Wednesday                     3
1   2021-01-21   Thursday                     4
2   2021-01-22     Friday                     5
3   2021-01-23   Saturday                     6
4   2021-01-24     Sunday                     7
5   2021-01-25     Monday                     1
6   2021-01-26    Tuesday                     2
7   2021-01-27  Wednesday                     3
8   2021-01-28   Thursday                     4
9   2021-01-29     Friday                     5
10  2021-01-30   Saturday                     6
11  2021-01-31     Sunday                     7
12  2021-02-01     Monday                     1
13  2021-02-02    Tuesday                     2
14  2021-02-03  Wednesday                     3
15  2021-02-04   Thursday                     4
16  2021-02-05     Friday                     5
17  2021-02-06   Saturday                     6
18  2021-02-07     Sunday                     7
19  2021-02-08     Monday                     1

In [357]:
mypd=pd.concat([pd.DataFrame(dn)+1,pd.DataFrame(w)], axis=1)
mypd.columns=['Week Number','Week Day']

In [361]:
weekday_map=dict(zip(mypd['Week Day'], mypd['Week Number']))

## -----END------